<!DOCTYPE html>
<html>
 <head>
     <meta charset="utf-8">
     <title>Code With Mir</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/CSS/bulma.min.css">
     <body>
       <nav class="navbar is-info">
           <div class="navbar-brand">
               <a href="/" class="navbar-item"><strong>Code With Mir</strong></a>
           </div>
       </nav>

       <saction class="section">
           <div class="container">
               {% block content %}
               {% endblock %}
           </div>
       </saction>

     </body>
 </head>

</html>